@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root{
    --principal:rgba(6, 18, 30, 0.1);
    --secundaria:#06121e;
    --secundaria-light:#10385f;
    --verde1:#33a5b479;
    --musgo:#ddff48;
    --musgo2:#a1ba32dc;
    --verde2:#206b75;
    --branco:white;
}
/*Globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    max-width: 100vw;
}
a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
}

/*nav menu*/
.nav-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    max-width: 968px;
    margin: auto;
}

.nav-home div>img{
    height: 50px;
}

.nav-home ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-home ul>li{
    list-style: none;
}

.nav-home ul>li>a{
    font-size: 20px;
    color: var(--secundaria);
    padding: 8px 10px;
}

.nav-home ul>li>a:hover{
    transition: 1s;
    background-color: var(--secundaria);
    color: white;
}

/*menu-mobile*/
.menu-mobile{
    display: none;
}
.menu-mobile img{
    height: 60px;
    cursor: pointer;
}

#menuMobile{
    right: 0;
    top: 0;
    position: absolute;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--secundaria);
    height: 100%;
    width: 50%;
}
#menuMobile a{
    padding: 4px 8px;
    color: white;
}

#menuMobile a:hover{
    color: var(--musgo);
    padding: 4px 8px 3px 8px;
    border-bottom: 1px solid var(--musgo);
}
#menuMobile button{
    top: 0px;
    right: 0px;
    position: absolute;

    cursor: pointer;
    color: red;
    font-size: 14px;
    background-color: var(--musgo);
    padding: 5px;
}

.img-menu-mobile{
    width: 150px;
}

@media screen and (max-width:768px) {
    .logo-header img{
        height: 70px;
    }

    .menu-mobile{
        display: flex;
    }

    .icons-header{
        display: none;
    }

    .links-header{
        display: none;
    }

    header nav{
        justify-content: space-between;
    }

    .nav-home ul{
        display: none;
    }

    .nav-home div>img{
        height: 70px;
    }

    .nav-home{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin: auto 15px auto 15px;
    }


}

/*main*/
main{
    min-height: 80vh;
    background-image: url(assets/11.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
main>section{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main>section>img{
    height: 170px;
    margin-bottom: 15px;
}

main>section>h1{
    font-size: 40px;
    color: white;
    margin-bottom: 24px;
}

main>section>span{
    display: none;
    margin-bottom: 14px;
    font-size: 30px;
    color: white;
}

main>section>a{
    box-shadow: -1px -1px 3px white;
    background-color: var(--musgo2);
    font-size: 24px;
    padding: 8px 12px;
    color: var(--secundaria);
}

main>section>a:hover{
    background-color: var(--musgo);
    transition: 1s;
    box-shadow: -1px -1px 3px var(--secundaria);
}

/*sobre*/
.sobre{
    min-height: 500px;
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 30px;
    gap: 10px;
}

.img-sobre{
    max-width: 100%;
    overflow: hidden;
    display: flex;
}

.img-sobre img{
    margin: 0 auto;
    max-width: 465px;
    max-height: 100%;
}

.sobre h2{
    font-size: 38px;
    color: var(--secundaria);
    margin-bottom: 24px;
}

.sobre p{
    padding: 0 10px;
    color: var(--secundaria);
    line-height: 200%;
    margin-bottom: 14px;
    text-align: center;
    font-weight: 600;
}

.description-sobre{
    max-width: 613px;
    display: flex;
    flex-direction: column;
}

.description-sobre a{
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    padding: 15px;
    background-color: var(--secundaria);
    color: white;
    letter-spacing: 1px;
}

.description-sobre a:hover{
    background-color: var(--secundaria-light);
}

@media screen and (max-width:768px) {
    .img-sobre {
        display: none;
    }
    .sobre h2{
        text-align: center;
    }
}
/*ideias*/
.ideias{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 400px;
    background-color: white;
    flex-wrap: wrap;
    padding: 30px;
    gap: 15px;
    max-width: 1024px;
    margin: 0 auto;
}

.ideia{
    text-align: center;

    box-shadow: 1px 0px 10px var(--secundaria);
    gap: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 250px;
}


.ideia img{
    width: 130px;
}

.ideia h5{
    font-size: 18px;
    color: var(--secundaria);
    text-shadow: 0px 1px 1px #a2ba32;
}
/*cases*/
.cases-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 54px 14px;
    max-width: 1300px;
    margin: 0 auto;
}

.cases-container h2{
    font-size: 38px;
    color: var(--secundaria);
    margin-bottom: 24px;
}

.cases-container p{
    text-align: center;
    margin-bottom: 24px;
}
.cases{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.case{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 3px 5px var(--secundaria);
}

.case:hover{

    transition: 1s;
}

.case img{
    width: 100%;
    min-height: 250px;
    max-width: 354px;
    max-width: 354px;
    transition: transform 0.9s;
}

.case img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.cases-info{
    color: var(--secundaria);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: #fff;
    z-index: 99;
}

.case span{
    font-size: 18px;
    font-weight: 500;
    color: var(--secundaria);
}

.case div a{
    padding: 4px 6px;
    background-color: var(--musgo);
    color: black;
}

.case div a:hover{
    cursor: pointer;
    padding: 4px 6px;
    background-color: var(--musgo2);
}

/*clientes*/

.slider{
    overflow: hidden;
    background-color: white;
    min-height: 200px;

}

.titulo{
    text-align: center;
    background-color: white;
    padding: 30px 30px 0px 30px;
    color: var(--secundaria);
    font-size: 30px;
}

.slides{
    margin: 0;
    padding: 0;
    width: 800%;
    height: 200px;
    display: flex;

}

.slides input{
    display: none;
}

.slide{
    background-color: white;
    width: 12.55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.slide span{
    color: white;
    font-size: 38px;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

.slide a{
    transition: 1s;
    cursor: pointer;
}

.manual-navigation{
    display: none;
}

.manual-btn{  
    display: flex;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;
}

.manual-btn:hover{
    background-color: var(--secundaria);
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -12.5%;
}

#radio3:checked ~ .first{
    margin-left: -25%;
}

#radio4:checked ~ .first{
    margin-left: -37.5%;
}
#radio5:checked ~ .first{
    margin-left: -50%;
}
#radio6:checked ~ .first{
    margin-left: -62.5%;
}
#radio7:checked ~ .first{
    margin-left: -75%;
}
#radio8:checked ~ .first{
    margin-left: -87.5%;
}

.navigation-auto div{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 152px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: transparent;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: transparent;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: transparent;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: transparent;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: transparent;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: transparent;
}
#radio7:checked ~ .navigation-auto .auto-btn6{
    background-color: transparent;
}
#radio8:checked ~ .navigation-auto .auto-btn6{
    background-color: transparent;
}


/*contato info*/

.contato{
    min-height: 400px;
    max-width: 968px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.contato-info{
    padding: 30px;
}

.contato div{
    flex: 1;
    width: 100%;
}

.icons-contato{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contato h2{
    margin-bottom: 14px;
    font-size: 28px;
    text-align: center;
    color: var(--secundaria);
}

.contato a{

    margin: 0 auto;
    color: var(--musgo);
}

.contato a:hover{
    color: var(--secundaria);
}

.form{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    padding: 5px 0;
    width: 100%;
}

label{
    padding: 5px 0 0 0;
}

hr{
    margin: 15px auto;
}

.input-text{
    height: 60px;
}

.form button{
    margin: auto;
    width: 200px;
    cursor: pointer;
    color: var(--secundaria);
    font-weight: bold;
    margin-top: 14px;
    padding: 8px 10px;
    background-color: var(--musgo);
}



@media screen and (max-width:700px) {
    .contato{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/*Footer*/
footer{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secundaria);
    gap: 20px;
}

footer img{
    height: 150px;
}

footer h3{
    color: var(--musgo);
}

footer span{
    color: white;
}

.whats{
    cursor: pointer;
    width: 60px;
    background-color: #2aa81a;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
}

/*services*/
/*modal1*/
.openModal{
    cursor: pointer;
}
.openModal>img{
    min-width: 300px;
    max-width: 300px;
    max-height: 250px;
    min-height: 250px;
}
.fechar-modar{
    color: red;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 101;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
.modal-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.modal-card>h1{
    font-size: 30px;
    color: var(--secundaria);
    margin-bottom: 24px;
}
.modal-card>span{
    max-width: 968px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}
#modalTipe1{
    margin: auto;
    top: 100px;
    max-width: 70vw;
    max-height: 60vw;
    z-index: 100;
    position: absolute;
    display: none;
}
#modalTipe1>img{

    min-width: 300px;
    min-height: 500px;
}

/*modal2*/
.openModal{
    cursor: pointer;
}
.openModal>img{
    min-width: 300px;
    max-width: 300px;
    max-height: 250px;
    min-height: 250px;
}
.fechar-modar{
    color: red;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 101;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
.modal-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.modal-card>h1{
    font-size: 30px;
    color: var(--secundaria);
    margin-bottom: 24px;
}
.modal-card>span{
    max-width: 968px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}
#modalTipe2{
    margin: auto;
    top: 100px;
    max-width: 70vw;
    max-height: 60vw;
    z-index: 100;
    position: absolute;
    display: none;
}
#modalTipe2>img{

    min-width: 300px;
    min-height: 500px;
}
/*modal3*/
#modalTipe3{
    margin: auto;
    top: 100px;
    max-width: 70vw;
    max-height: 60vw;
    z-index: 100;
    position: absolute;
    display: none;
}

#modalTipe3>img{

    min-width: 300px;
    min-height: 500px;
}


.home{
    color: var(--secundaria);
    border-bottom: 1px solid var(--musgo2);
}

#video{
    min-width: 300px;
    max-width: 300px;
    max-height: 250px;
    min-height: 250px;
}


.images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 24px;
    max-width: 968px;
}

#localization{
    width: 100%;
}
